<div class="mx-auto bg-purple-600 p-2">
    <nav class="flex justify-between">
        <div class="my-auto">
            <h1 class="text-white">
                <a href="">Task Tracker</a>
            </h1>
        </div>
        <p id="hamburgerMenu" class="md:hidden bg-purple-300">Menu</p>
        <ul id="hamd" class="hidden md:flex md:flex-row">
            <li class="pr-5 my-auto text-white"><a href="">Tasks</a></li>
            <li class="pr-5 my-auto text-white"><a href="login">Login</a></li>
            <li class="pr-5 my-auto text-white">
                <button
                    class="
                        btn-base
                        bg-blue-400
                        text-white
                        font-semibold
                        hover:bg-blue-700
                        focus:outline-none
                        focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75
                    "
                    (click)="onToggleDarkMode()"
                >
                    dark mode
                </button>
            </li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>
